<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style_hapdoc.css">
    <title>HapDoc</title>
</head>
<body>
    <!-- Menu -->
    <div class="menu">
        <ul>
            <!-- Item 1: Pacotes e Procedimentos -->
            <li>
                <a href="#" id="menu-procedures">
                    <img class="pacote-procedure" src="../img/pacote-procedimento.svg" alt="Pacote por Procedimento"></img>
                    Pacote por Procedimento
                </a>
            </li>
            <li>
                <a href="#" id="menu-procedures">
                    <img class="menu-clinic" src="../img/centro-clinico.svg" alt="Centro Clínico"></img>
                    Centro Clínico
                </a>
            </li>
    
        </ul>
    </div>

    <!-- Conteúdo -->
    <div class="content">
        <button id="clear-status"><img class="clear" src="../img/to_clean_eraser.svg" alt="Limpar status"></img> Limpar Status</button>
        <div class="table-container">
            <table id="data-table">
                <thead>
                    <tr>
                        <th>ANO_TABELA</th>
                        <th>COD_AUTORIZAÇÃO</th>
                        <th>COD_TUSS</th>
                        <th>NOMENCLATURA</th>
                        <th>VALOR</th>
                        <th>CD_TIPO_ACOMODACAO</th>
                        <th>URG_ELE_TAX_MAT_MED_CH_ANE_AUX</th>
                        <th>QTD_REDES</th>
                        <th>CD_TIPO_REDE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td colspan="9" class="empty-row"></td></tr>
                    <tr><td colspan="9" class="empty-row"></td></tr>
                    <tr><td colspan="9" class="empty-row"></td></tr>
                    <tr><td colspan="9" class="empty-row"></td></tr>
                    <tr><td colspan="9" class="empty-row"></td></tr>

                </tbody>
            </table>
        </div>
        <div class="buttons">
            <button id="select-file">
                <img class="select-file-user" src="../img/folder_select_file.svg" alt="Selecionar Arquivo"></img>
                Selecionar Arquivo
            </button>
            <input type="file" id="file-input" accept=".csv" style="display: none;">
            <!-- <button id="select-file"><img class="select-file-user" src="../img/folder_select_file.svg" alt="Selecionar Arquivo"></img> Selecionar Arquivo</button> -->
            <button id="save-file" class="button-save"><img class="save-path-user" src="../img/save-file.svg" alt="Salvar"></img> Salvar</button>
        </div>
    </div>

    <script src="qwebchannel.js"></script>
    <script src="../js/script_hapdoc.js"></script>
</body>
</html>